@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
    color: salmon;
    text-align: center;
}

.btn {
    margin: 1%;
}

#important-text {
    p {
        color: goldenrod;
  }
}